body {
    background-color: burlywood;
  }

  h1 { color: Darkred;
    font-family: Arial ;
    text-align: center;
  }

  h2 { color: darkred;
    font-family: Arial;
    text-align: Center;
  }
   
  h3 {
    color:darkred;
    font-family: Arial;
    font-size: 18px;
    text-align: justify;

  }

  h4{
    color: darkred;
    font-family: Arial;
    font-size: 18px;
  }

  p{
    color: darkred;
    font-family: Arial;
    font-size: 30px;
    text-align: center;
  }

  
  .All{
    Color: Black;
  }
  .biggestimg{
    image-orientation: from-image;
  }

  .Redwine{
    color: Black;
  }
  ul{
    text-align: Center;
  }
  li{
    text-align: Center;
    font-size: 40px;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  p.copyrights{
    font-size: 14px;
    color: darkred; 
  }
  p.terms{
    font-size: 14px;
    color: darkred;
  }
  .socialmedia{
    text-align: center;
    word-spacing: 100px;
  }
  menu{
    text-align: left;
  }
  .embark{
    text-align: center;
  }
  .shopping{
    text-align: center;
  }
  a{
    color: blue;
    cursor: pointer;
  }
  a:hover{
    color: orangered;
  }
  button{
    background-color: whitesmoke;
  }
